<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Search App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="assets/app.css"/>        
    <link rel="stylesheet" href="../node_modules/ui-leaflet/node_modules/leaflet/dist/leaflet.css"></link>

    <style type="text/css">
        /**
         * Hide when Angular is not yet loaded and initialized
         */
        [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }
    </style>

  </head>

  <body ng-app="searchApp" ng-controller="SearchController as sc" ng-cloak >


    
    <md-content layout="column"  >
      
      
<md-content >
      <section layout="row"  >

        <md-content flex="20"> 

          <md-content layout-padding >
            <md-input-container >
              <input ng-model="sc.q" type="text" placeholder="Search" ng-keypress="sc.enterSearch($event)">
              <md-icon ng-click="sc.search()">search</md-icon>
            </md-input-container>          
          </md-content>

          <!-- FACETS -->

            <md-list class="md-dense" flex ng-show="sc.facet_filter.length">
                <md-subheader class="md-no-sticky">Applied filters</md-subheader>
                <md-list-item class="md-1-line facet-item" ng-repeat="ff in sc.facet_filter">  
                  <span class="facet-value">{{sc.getFacetFilterLabel(ff)}}</span>                   
                  <md-icon class="md-secondary" ng-click="sc.removeFacetFilter(ff)" aria-label="Remove">clear</md-icon>
                </md-list-item>
            </md-list>       
            <md-content ng-repeat="f in sc.facets">
              <md-list class="md-dense" flex>
                <md-subheader class="md-no-sticky">{{f.label}}</md-subheader>
                <md-list-item class="md-1-line facet-item" ng-repeat="c in f.counts" ng-if="sc.showFacetValue(f.field, c.value)">                              
                  <span class="md-list-item-text compact"><span class="facet-value" ng-click="sc.addFacet(f.field, c.value)">{{c.label}}</span> <span class="facet-count">({{c.count}})</span></span>

                </md-list-item>
              </md-list>
            </md-content>
          </md-content> 

        

        <!-- SEARCH RESULTS -->
        <md-content flex id="content" >

          <md-tabs md-dynamic-height md-border-bottom>

            <md-tab label="List">

              <md-list >
              <md-subheader class="md-no-sticky">{{sc.dynamicItems.numItems}} objects</md-subheader>
              <md-virtual-repeat-container id="vertical-container">

                <div md-virtual-repeat="doc in sc.dynamicItems" md-on-demand class="repeated-item" flex>
                    <md-list-item class="md-whiteframe-1dp md-3-line md-long-text list-item" ng-click="sc.togglePreview(); sc.selectDoc = doc">                  
                    <span class="pos">{{ doc.pos }}</span>
                    <img ng-src="https://phaidra.univie.ac.at/preview/{{doc.pid}}///60" style="max-width:60px;" class="md-user-avatar list-item-img" alt="{{ doc.dc_title[0] }}" />
                    <div class="md-list-item-text list-item-text" layout="column">

                      <h3>{{ doc.dc_title[0] }}</h3>
                      
                      <span class="md-body-2"><span ng-repeat="aut in doc.dc_creator track by $index">{{aut}}<span ng-if="!$last">; </span></span></span>
                      <span class="md-body-2"><span ng-repeat="cont in doc.dc_contributor track by $index">{{cont}}<span ng-if="!$last">; </span></span></span>
                      <span class="md-caption grey">https://phaidra.univie.ac.at/{{ doc.pid }}</span>

                      <span class="md-body-1">{{ doc.dc_description[0] }}</span>
                    </div>
                    </md-list-item>
                </div>
              </md-virtual-repeat-container>
              </md-list>

              </md-tab>
            <md-tab label="Map" md-on-select="sc.refreshMap()">
              <leaflet width="100%" height="620px" markers="sc.markers" lf-center="sc.center" ></leaflet>
            </md-tab>
             
          </md-tabs>
            
        </md-content>


        <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="preview">
        
            <md-content ng-controller="PreviewController as pc" layout-padding>
              
                <center><img class="md-whiteframe-1dp" ng-src="https://phaidra.univie.ac.at/preview/{{sc.selectDoc.pid}}" alt="{{ sc.selectDoc.dc_title[0] }}" /></center>
                <h3>{{ sc.selectDoc.dc_title[0] }}</h3>
              
              <md-button ng-click="pc.close()" class="md-primary">Close</md-button>

            </md-content>
          </md-sidenav>

    </section>
  </md-content>
 
    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="../node_modules/ui-leaflet/node_modules/angular-simple-logger/dist/angular-simple-logger.min.js"></script>
    <script type="text/javascript" src="../node_modules/ui-leaflet/node_modules/leaflet/dist/leaflet.js"></script>
    <script type="text/javascript" src="../node_modules/ui-leaflet/dist/ui-leaflet.min.js"></script>
    


    <script src="./src/search/Search.js"></script>
    <script src="./src/search/SearchController.js"></script>
    <script src="./src/search/SearchService.js"></script>

    <script type="text/javascript">

          angular
              .module('searchApp', ['ngMaterial', 'search', 'ui-leaflet'])
              .config(function($mdThemingProvider){ //, $mdIconProvider
/*
                  $mdIconProvider
                      .defaultIconSet("./assets/svg/avatars.svg", 128)
                      .icon("search", "./assets/svg/search.svg", 24);
*/
                  $mdThemingProvider.theme('docs-dark', 'default')
                    .primaryPalette('red')
                    //.accentPalette('red')
                    .dark();
              });

    </script>

  </body>
</html>
