.preview p {
 -webkit-margin-after: 0em;
 -webkit-margin-before: 0em;
}


.grey {
  color: #777;
}

.facet-count {
  color: #777;
}

.facet-value {
  color: #F44336;
}

md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 400px !important;
    width: 85vw !important;
    max-width: 800px !important;
    background-color: rgb(250,250,250);
} 

.sidenavbg {    
    background-color: rgb(250,250,250);
} 

md-list-item.md-2-line.md-long-text, md-list-item.md-2-line > .md-no-style.md-long-text, md-list-item.md-3-line.md-long-text, md-list-item.md-3-line > .md-no-style.md-long-text {
  margin: 18px;  
}

.list-item-img {
  margin-right: 15px;  
}

md-list-item.md-2-line .md-list-item-text, md-list-item.md-2-line > .md-no-style .md-list-item-text, md-list-item.md-3-line .md-list-item-text, md-list-item.md-3-line > .md-no-style .md-list-item-text {
  margin-top: 10px; 
  margin-bottom: 10px; 
}

md-list.md-dense md-list-item, md-list.md-dense md-list-item .md-list-item-inner {
  min-height: 20px;
}

md-list-item, md-list-item .md-list-item-inner {
 min-height: 20px; 
}

.facet-item {
  height: 30px;
}

#vertical-container {
  height: 1600px;
  width: 100%;
}

.pos {  
  position: absolute; 
  float: right;  
  right: 10px;
  color: rgba(0, 0, 0, 0.41);
}

.preview-label {
  float: right;
}

.tolowercase {
    text-transform: lowercase;
}