
.grey {
  color: #777;
}

.facet-count {
  color: #777;
}

.facet-value {
  color: #F44336;
}

md-sidenav, 
md-sidenav.md-locked-open, 
md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 400px !important;
    width: 85vw !important;
    max-width: 800px !important;
} 

md-list-item.md-2-line.md-long-text, md-list-item.md-2-line > .md-no-style.md-long-text, md-list-item.md-3-line.md-long-text, md-list-item.md-3-line > .md-no-style.md-long-text {
  margin: 18px;  
}

.list-item-img {
  margin-right: 15px;  
}

md-list-item.md-2-line .md-list-item-text, md-list-item.md-2-line > .md-no-style .md-list-item-text, md-list-item.md-3-line .md-list-item-text, md-list-item.md-3-line > .md-no-style .md-list-item-text {
  margin-top: 10px; 
  margin-bottom: 10px; 
}

md-list.md-dense md-list-item, md-list.md-dense md-list-item .md-list-item-inner {
  min-height: 20px;
}

md-list-item, md-list-item .md-list-item-inner {
 min-height: 20px; 
}

.facet-item {
  height: 30px;
}

.custom-chips md-chip {
  position: relative; 
}

.custom-chips md-chip ._md-chip-remove-container {
    position: absolute;
    right: 4px;
    top: 4px;
    margin-right: 0;
    height: 24px; 
}
.custom-chips md-chip ._md-chip-remove-container button.facetchip {
    position: relative;
    height: 24px;
    width: 24px;
    line-height: 30px;
    text-align: center;
      background: rgba(0, 0, 0, 0.3);
      border-radius: 50%;
      border: none;
      box-shadow: none;
      padding: 0;
      margin: 0;
      transition: background 0.15s linear;
      display: block; 
}
.custom-chips md-chip ._md-chip-remove-container button.facetchip md-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0) scale(0.7);
        color: white;
        fill: white; 
}
.custom-chips md-chip ._md-chip-remove-container button.facetchip:hover, .custom-chips md-chip ._md-chip-remove-container button.facetchip:focus {
        background: rgba(255, 0, 0, 0.8); 
}
.custom-chips md-chip:not(.md-readonly) md-chip-template {
    padding-right: 5px; 
}
